[2021-02-11 20:38] brian-rose opened #1 "Render this new book skeleton online"
I've put together a bare-bones outline of a "Foundations" content collection as discussed [here](https://github.com/ProjectPythia/projectpythia.github.io/discussions/41) and at the IWG meeting earlier today.

It renders nicely with Jupyter Book on my local machine. I need some help to get it rendered publicly online somewhere. I think it would be great to host this at <https://foundations.projectp

[2021-02-11 20:42] brian-rose opened #2 "Need a license"
This repo needs a license! Should it be the same license as the [main portal repo](https://github.com/ProjectPythia/projectpythia.github.io), or something different?

[2021-02-12 12:42] brian-rose commented on #1
Ok I added a github action to build and deploy here: https://projectpythia.org/pythia-foundations/

That's probably good enough for now, just so folks can take a look and give feedback. We can discuss later what we want the permanent URL to be.

[2021-02-12 16:26] clyne commented on #2
I don't see any reason why we wouldn't use the same license for everything we produce.

[2021-02-12 16:56] clyne opened #4 "expand overview"
Consider adding text to

https://github.com/ProjectPythia/pythia-foundations/blob/main/foundations/overview.md#overview

emphasizing the need for mastery of the topics here before moving on to advanced topics

[2021-02-12 17:29] brian-rose opened #5 "Need an autobuild for pull requests"
Before we start opening new PRs to add content to this book, it would be great to get an autobuild triggered for each PR so we can see updates to the rendered book. For the main portal repo, this was accomplished with readthedocs.

The build is slightly different in this case because it depends on `jupyter-book`. @andersy005 can you advise on how to set this up?

[2021-02-12 17:30] brian-rose commented on #4
Sounds good. I anticipate an open discussion at the next EWG meeting about the priorities for moving forward with all this content.

[2021-02-12 17:31] brian-rose commented on #2
For reference, the main portal repo currently uses Apache License 2.0

[2021-02-12 17:34] brian-rose commented on #5
Is there a way to set this up directly with GitHub Actions / gh-pages? Does it need to go out to a 3rd party service like readthedocs?

[2021-02-12 21:05] kmpaul commented on #1
Nice, @brian-rose!

[2021-02-18 19:16] brian-rose commented on #2
Following discussion at today's EWG, I added the Apache License 2.0

We may revisit after @clyne discusses with UCAR legal team, but I'll this for now.

[2021-02-18 19:18] brian-rose commented on #5
Tagging @kmpaul , the EWG has identified this as a high-priority piece of infrastructure that will accelerate building out the content.

[2021-02-18 19:35] andersy005 commented on #5
@brian-rose,

If you have an account on readthedocs (https://readthedocs.org/), I'd set up a project linked to this repository (this will install a webhook on this repository that triggers builds on readthedocs)

Unfortunately, this has to be done from the readthedocs UI: https://docs.readthedocs.io/en/stable/pull-requests.html

[2021-02-18 19:42] andersy005 commented on #5
You are right. It appears that readthedocs isn't supported yet: https://github.com/executablebooks/jupyter-book/issues/1091

[2021-02-18 23:55] brian-rose commented on #5
Good find! And my take-away from that discussion is that readthedocs probably *won't* support building JupyterBook sources anytime soon.

[2021-02-22 15:43] #5 closed

[2021-02-22 16:16] brian-rose commented on #1
I'll close this now. We can discuss names and URLs over in https://github.com/ProjectPythia/projectpythia.github.io/discussions/52.

[2021-02-22 16:16] #1 closed

[2021-03-03 00:26] clyne commented on #2
I spoke to UCAR legal. The bottom line is that they advise separate licenses for code and other content. Apache 2.0 is fine for code, Creative Commons (CC-BY) is recommended for everything else. I don't think GitHub is really set up for using multiple licenses. We've already made Apache 2.0 the "default" license. We could simply add a note (in the LICENSE file?) that says something like "all softw

[2021-03-03 01:12] brian-rose commented on #2
I guess the straightforward thing to do is to leave the Apache 2.0 license file in each repo so that github recognizes this as the license for the repo itself. Then we can link to CC-BY in the rendered websites. The README file in each repo can explain the distinction between the software license and the content license.

[2021-03-11 18:22] brian-rose commented on #2
Slightly more nuanced version: Apache 2.0 will cover **all** code, including example code snippets that are displayed to users as part of the content.

[2021-03-11 18:31] clyne opened #17 "Create GitHub issue template to facilitate opening issues"
Not sure if this is the right repo for this issue, but we should explore creating an issue template to facilitate creating new issues. As a starting point, it might be useful to have templates for infrastructure and content (with labels "infrastructure" and "content")

cc @andersy005 , @kmpaul

[2021-03-11 22:21] andersy005 commented on #17
I just finished setting this up over in https://github.com/ProjectPythia/.github. Every repo under `ProjectPythia` has the following issue templates (templates include some default labels):

![Screen Shot 2021-03-11 at 3 02 10 PM](https://user-images.githubusercontent.com/13301940/110862563-c950bf80-827c-11eb-941f-d23ff6f77b64.png)

To apply labels after the fact (once the issue has been opened),

[2021-03-11 22:29] andersy005 commented on #17
P.S Changes to the label manifest and issue templates must be made in the https://github.com/ProjectPythia/.github for changes to be applied to repositories under the GitHub organization.

[2021-03-12 22:17] clyne commented on #17
This looks great @andersy005! Are there currently any label assignments? I opened a test "Content" issue, but didn't see a label applied.

Also, I'm not sure I understand what the "label manifests" does.

[2021-03-12 23:15] andersy005 opened #18 "This a Test"

[2021-03-12 23:15] #18 closed

[2021-03-12 23:21] andersy005 commented on #17
I've defined a YAML file: https://github.com/ProjectPythia/.github/blob/main/.github/labels.yml that includes a list of labels. It's this file that I am calling "label manifest". I've added a [GitHub action workflow](https://github.com/ProjectPythia/.github/blob/main/.github/workflows/labels.yml) that syncs these labels in this manifest file to repositories defined [here](https://github.com/Projec

[2021-03-12 23:45] andersy005 commented on #17
@clyne, the automatic labelling of issues when creating issues from a template should now be resolved

[2021-03-18 14:53] #2 closed

[2021-04-02 18:23] brian-rose opened #27 "Pythia Foundations needs some cover art"
We should brainstorm on a some cover art graphics for the [landing page](https://foundations.projectpythia.org/landing-page.html) of the Foundations book.

[2021-04-20 16:43] andersy005 opened #35 "Host external data files in a separate repository"
The most recent PRs introduced notebooks that require external data files. I was wondering if we could host external data files in a separate repository so as to avoid blotted git repositories. Hosting these files in an external files would make it easy for repositories to share data files, and we could use [pooch](https://www.fatiando.org/pooch/latest/) to cache these files on first access.

Rele

[2021-04-21 19:29] dopplershift commented on #35
I think some kind of centralized hosting of the data file makes sense. While we may want to have some caching for build/CI purposes, we should avoid exposing the details of that to the users of the training content. Not only does it raise the cognitive load by introducing additional (unrelated) concepts, but it can also just be a general source of confusion. MetPy's examples have a `get_test_data`

[2021-04-22 01:25] brian-rose commented on #35
I'll be delighted if there's an elegant solution to this problem that avoids confusing the audience. I've struggled the data caching issue with climlab. I'll have to take a look at pooch, that's new to me.

[2021-04-22 01:40] clyne commented on #35
It might be worth looking at what the GeoCAT team does for their examples gallery: https://geocat-examples.readthedocs.io/en/latest/

CC'ing @erogluorhan for his input

[2021-04-22 15:29] erogluorhan commented on #35
We have been using a solution (with the help of our [geocat-datafiles](https://github.com/NCAR/geocat-datafiles) repo) to such a problem for a long while, which is similar to what @andersy005 suggested in the beginning (i.e. we are using `pooch`). You can get insights from README file, but let me detail our workflow a bit more:

- Add data files into relevant category folders (e.g. "netcdf_files",

[2021-04-22 16:57] clyne commented on #35
Re GitHub's 100 MB limit: we have an allocation on NCAR's public [DASH](https://www2.cisl.ucar.edu/dash) repository to host data sets used by Pythia. It's a good choice for larger data sets and was part of our Data Management Plan for the proposal.

[2021-04-22 17:15] clyne commented on #17
Templates are enabled on all repos.

[2021-04-22 17:17] #17 closed

[2021-04-22 17:40] clyne commented on #35
Consensus: move forward with the pooch approach.

[2021-05-03 18:34] andersy005 commented on #35
As an update: I put together a repo for hosting sample data files. This repo includes a small package for retrieving/caching these data files: https://github.com/ProjectPythia/pythia-datasets. The package can be installed via

[code]

for the time being....

[code]

To update this registry of data files, please open a PR and place the sample data files in the `data` folder.

[2021-05-12 22:25] clyne opened #51 "Complete contributors guide"
Currently, our contributors guide coverage is limited to how to use conda to set up a your local environment. It should probably provide references to our yet-to-be-written tutorial material on how to use git/GitHub, and the workflow process (e.g. GitFlow, Forking workflow, etc.) we want contributors to use to submit a PR.

[2021-05-27 19:38] jukent opened #54 "Internal vs External Links"
Sometimes on the content pages we have links to other Pythia foundations pages (separate from the nav bars and the "next/previous" buttons on the bottom). We might want to make it more obvious when sending people to other pages we created or away from the site.

One idea is for them to have a set phrase at the beginning, something like, "Jump to: ...".
Or we can force them all to be buttons

Any o

[2021-05-27 20:02] jukent opened #56 "Pythia Foundations Environment"
Should we create a `.yaml` file with all the packages necessary to run through the Foundations course?

[2021-05-27 20:30] brian-rose commented on #56
We already have an `environment.yml` file in the root of the foundations repo that will have everything included.

Is the idea to create a simpler environment just containing run-time dependencies but excluding the `jupyter-book` stuff needed to render the book itself?

[2021-05-28 13:58] brian-rose commented on #27
I would love to get something prettier on the landing page prior to the EarthCube meeting, even if it's just a placeholder.

I'm thinking of replacing `landing_page.md` with a `landing_page.ipynb` notebook that generates some sort of cool image from some data. Then we can use the JupyterBook feature to  [hide code cells](https://jupyterbook.org/interactive/hiding.html#hide-code-cell-content).

The

[2021-05-28 14:03] brian-rose opened #59 "Overview page of the Foundational Skills section needs overhaul"
As we are building out the content of the Foundational Skills section (e.g. in #50 and #55), the [Overview page](https://foundations.projectpythia.org/foundations/overview.html) is getting more and more out of date.

[2021-05-28 15:28] brian-rose opened #60 "Run a periodic link checker?"
JupyterBook has a tool for checking the health of all the links in the web links in the source material:
[code]

I wonder if we can set up a GitHub action to run this check periodically in order to flag any upstream changes so our links stay up to date.

[2021-05-28 17:19] andersy005 commented on #27
That would be a great use of the `hide code cells` feature

[2021-05-28 17:39] brian-rose commented on #54
To me it makes sense to have all external links open in a new tab by default, while internal links do not.

Unfortunately I don't think that there's any way to control that in Markdown links without putting more raw html into the source files.

[2021-05-28 18:57] brian-rose commented on #27
A proof-of-concept using this approach is now available over at https://github.com/ProjectPythia/pythia-foundations/pull/62.

[2021-05-28 19:56] brian-rose commented on #54
Let's discuss a design strategy at an upcoming meeting.

[2021-05-28 20:49] brian-rose opened #63 "Content on "How to create a Python package""
Migrating an interesting discussion over from https://github.com/ProjectPythia/projectpythia.github.io/issues/43.

I think that the Foundations book could have an entirely new top-level section (after Core Scientific Packages) devoted to best practices for developing Python packages.

Tentatively, the chapter could be entitled **"Building Python Packages"**, and have sections like:

- tutorial on

[2021-05-28 21:29] brian-rose commented on #63
It bears repeating here, @jbusecke has already done much of this work over at https://github.com/jbusecke/cookiecutter-science-project
and we could easily adapt many of the instructions from his README.

[2021-06-02 17:27] brian-rose opened #64 "Quickstart notebook needs some links for further study"
In #55 we added a "Zero to Python" quickstart notebook, visible [here](https://foundations.projectpythia.org/foundations/quickstart.html).

Since this *isn't* a comprehensive tutorial on Python syntax, we should really curate a short list of good external resources for Python language learners. We can link to these at the end of the quickstart page.

The page should also link to our own numpy and

[2021-06-02 21:27] #59 closed

[2021-06-03 17:24] clyne commented on #35
@andersy005 will revisit when possible. This is becoming a priority for Max

[2021-06-03 19:20] brian-rose commented on #54
Adding infrastructure label to this, as this issue sort of bridges content and infrastructure. Forgot to bring this one up at today's meeting.

[2021-06-03 19:22] brian-rose commented on #4
I should have addressed this one in #65. Will do so now.

[2021-06-03 21:23] brian-rose commented on #4
Done and closing.

[2021-06-03 21:23] #4 closed

[2021-06-08 13:13] jbusecke commented on #63
Is there already a skeleton for this kind of documentation? I was just wondering if I should add more info to my readme (which should really be a full docs page at this point) or already move over to a more general space.

[2021-06-08 14:09] brian-rose commented on #63
We now have a template notebook for new contributions to the Pythia Foundations book: https://foundations.projectpythia.org/preamble/template.html

What I proposed above was to add an entirely new top-level section to the book, with individual sections delivering content in line with our template. I could quickly rough this out in a PR with some tentative section headings if that will help get thi

[2021-06-08 21:34] brian-rose commented on #63
True enough... this material could exist in a separate repo and be hosted as a separate piece of content on the main Pythia portal.

[2021-06-09 15:28] #60 closed

[2021-06-09 16:02] andersy005 commented on #35
I added some documentation [here](https://github.com/ProjectPythia/pythia-datasets#pythia-datasets) on (1) how to add new data files to the repository, (2) how to use these data files. If folks have some additional feedback, please let me know.

[2021-06-10 16:39] ktyle opened #69 "Kernel spec in template.ipynb"
After running a jupyterbook build on the current main version of Pythia Foundations, I got a warning that the kernel spec that is in template.ipynb was not found:

Currently, the kernelspec is set as follows in template.ipynb:

   "display_name": "Python [conda env:pythia-book-dev]",
   "language": "python",
   "name": "conda-env-pythia-book-dev-py"

Our other notebooks currently use "python3" for

[2021-06-10 19:37] dcamron commented on #69
I meant to clear that out before committing and forgot. Kernelspecs are annoying in this way. We might want to consider some automation or pre-commit steps to clearing out notebook metadata like this. In the mean time I can re-run this in #39  because I'll have to do the same for those notebooks anyway.

[2021-06-11 14:49] brian-rose commented on #56
Revisiting this... I just submitted a PR #70 to add jupyterlab to the environment, because I'm using this environment for authoring notebook content and I want to be able to run in the lab.

It raises a question that I guess I'm not clear on: is our `environment.yml` meant to be just a minimal environment for building the book only (as used on CI services)?

It's possible that we could maintain tw

[2021-06-14 14:53] clyne commented on #56
I'd vote for keeping the environments as consistent as possible across all sites, intended uses, etc. Simpler is better.

[2021-06-14 18:04] brian-rose commented on #56
So, one master environment to rule them all?

Currently we have at least three different `environment.yml` files across our repos:
- https://github.com/ProjectPythia/projectpythia.github.io/blob/main/ci/environment.yml
- https://github.com/ProjectPythia/pythia-foundations/blob/main/environment.yml
- https://github.com/ProjectPythia/pythia-datasets/blob/main/ci/environment.yml

[2021-06-14 18:10] brian-rose commented on #35
Disregard my previous comment!

[2021-06-14 18:12] brian-rose commented on #35
I believe the current [Pandas notebook](https://foundations.projectpythia.org/core/pandas/pandas_fullNotebook.html) needs to be updated to use `pythia-datasets`.
We will also need to add the package to the book `environment.yml`

There may be other notebooks in open PRs that need updating for this.

[2021-06-14 20:11] clyne commented on #56
Not sure how practical it is, but it would be nice if there were a single conda environment for all of Pythia, whether you are a user or a contributor.

[2021-06-14 21:04] brian-rose commented on #56
I agree, from a use perspective. However I don't think we can get away from needing a `environment.yml` file in every repo, to be used by CI services etc.

Maybe it's possible to set up a dependabot service to automatically keep all the `environment.yml` files in sync (e.g. opening PRs to update the files in other repos whenever we change one of them).

[2021-06-14 21:34] dopplershift commented on #56
I mean, you could always download an `environment.yml` from anywhere to use, manually as a step in CI.

But as a I look at things, I don't see a problem with having the 3 different ones. Those serve 3 different purposes:
* Portal website
* Actual tutorial content
* Store Datasets

It's entirely wasteful, slows things down, and opens more opportunities for breakage to have the portal and dataset CI

[2021-06-14 21:41] dopplershift commented on #56
Regarding the original part of having a separate `environment.yml` that has only what the user needs (with `jupyterlab`) vs. the full documentation build stack, that certainly seems reasonable and again would reduce the support burden (i.e. picture debugging what could go wrong on user systems). One option would be to start CI by creating an env from `environment.yml`, then use a separate step to

[2021-06-14 22:14] brian-rose commented on #56
Good points @dopplershift, although I would quibble that our portal site will not be entirely non-Python, as it is built with sphinx. But certainly won't need numpy, cartopy, etc.

I think landing on the foundations `environment.yml` as the "all-in" environment, while keeping the other repos more bare bones, is a good compromise. And I think that environment needs to contain the full doc build dep

[2021-06-14 22:49] clyne commented on #56
Good points. The consistent environment.yml file between different repos is probably less important for users that won't be bouncing back and forth between repos as maintainers have to. Hopefully, the latter are more savvy and don't get tripped up by this (as much as I do:-)

[2021-06-15 01:38] ktyle commented on #56
@dopplershift what's your advice on how best to keep an environment "up to date without breaking things"? When would we need to think about changing specific version requirements, such as =3.8 for python and <1.4 for sqlalchemy?

[2021-06-15 03:36] dopplershift commented on #56
@ktyle If I'm keeping an *environment specification* unbroken and up-to-date, I'm using Dependabot and pypi-style `requirements.txt` files (Dependabot doesn't yet support Conda 😢 ) with the version every dependenc explicitly listed ("pinned"). When there's an update, Dependabot issues a PR to update that version, which triggers CI to run whatever tests we have to validate. If it passes (e.g. all t

[2021-06-15 16:38] clyne commented on #51
Closing this issue. It duplicates https://github.com/ProjectPythia/projectpythia.github.io/issues/104

[2021-06-15 16:38] #51 closed

[2021-06-15 17:18] clyne opened #73 "Move How to Contribute to appendix?"
The "how to contribute" information is the up front material visitors come to when accessing the Foundations site. I.e. if you proceed through the book linearly by clicking the next (>>) arrows you quickly get into the gory details of the notebook template, etc. Perhaps we should move this material to the end (appendix?) so that those who want to take a more linear approach get into the more acces

[2021-06-15 17:42] brian-rose commented on #73
Agreed, seems reasonable to me that "How to Contribute" would be an appendix rather than a preamble.

[2021-06-15 17:58] clyne opened #74 "External links template available from Foundations"
I just noticed that the "update external links gallery" Issue template is available from the Foundations [site](https://github.com/ProjectPythia/pythia-foundations). Presumably this opens an issue on the Portal [site](https://github.com/ProjectPythia/projectpythia.github.io)?  Not having tried it, I'm just wondering if that will cause confusion for the user: an issue opened on one site results in

[2021-06-15 20:55] clyne commented on #73
Should we make that change?

[2021-06-15 20:57] brian-rose commented on #73
That's fine with me, I can put a PR together tonight to reorganize the TOC and update the links to the template.

I'm still plugging away on #33 right now.

[2021-06-15 21:01] clyne commented on #73
It's not a priority I don' t think. I 'll see if I can figure it out if I have time, but my JupyterBook kung fu is pretty weak

[2021-06-15 23:49] clyne commented on #35
It looks like #36, which will hopefully be approved and merged soon, adds pythia-datasets to environment.yml.

[2021-06-16 00:00] brian-rose commented on #35
Also adding it to #33 in a new push coming tonight.

[2021-06-16 01:46] clyne opened #76 "How to Use This Book content needed"
We need to provide guidance on how to download and execute notebooks. We should probably also consider adding a callout in every notebook saying "you can browse the rendered notebook, but if you want to interact with the book contents you'll need to download and execute. Here's how..."

[2021-06-16 01:53] brian-rose commented on #76
The easiest way to interact with the notebooks is by clicking on the Binder link.

Launching the interactive Binder is very slow the first time after a new push to main branch. But after that first launch, mybinder.org stores an image that gets reused, so the user experiences something that feels more plug-and-play.

[2021-06-16 01:53] brian-rose commented on #73
Done in #75

[2021-06-16 01:57] brian-rose commented on #35
Now that #72 is merged, we have the infrastructure in place.

Other notebooks just need to do
[code]
and then something like
[code]
replacing `enso_data.csv` with the appropriate filename from the data registry.

Example is in the Pandas notebook [here](https://foundations.projectpythia.org/core/pandas/pandas_fullNotebook.html)

[2021-06-16 02:12] clyne commented on #76
Hah! Didn't even know that we had binder enabled. However, I still feel we may need to give users guidance that points them to Binder for the full experience if we want to reach newbies

[2021-06-16 02:14] brian-rose commented on #76
Binder comes for free with JupyterBook :-)

If you look at the quickstart notebook I wrote [here](https://foundations.projectpythia.org/foundations/quickstart.html), it begins with some instructions for how to launch the Binder.

Personally I don't think this should be repeated in every notebook, but instructions DO belong in the "How to use this book" preamble.

[2021-06-16 02:26] brian-rose commented on #35
This issue is resolved, closing now.

[2021-06-16 02:26] #35 closed

[2021-06-16 02:57] brian-rose commented on #73
Sorry, getting sleepy. #75 isn't merged yet.

[2021-06-16 03:39] #73 closed

[2021-06-16 03:40] dcamron commented on #69
This change in #39 was accidentally un-done. Will fix.

[2021-06-16 03:43] brian-rose opened #77 ""30-second intro to OOP" should be moved out of datetime notebook"
As discussed in #38, the section in the datetime notebook ["30-second intro to Object Oriented Programming"](https://foundations.projectpythia.org/core/datetime/datetime.html#thirty-second-introduction-to-object-oriented-programming) belongs somewhere else earlier in the Foundations sequence.

To be dealt with later...

[2021-06-16 03:45] brian-rose opened #78 "NumPy chapter landing page needs updating"
As discussed in #39, the [landing page for the NumPy chapter](https://foundations.projectpythia.org/core/numpy.html) is still bare and needs updating.

[2021-06-16 03:47] brian-rose commented on #69
Oops, sorry about that!

[2021-06-16 14:53] #78 closed

[2021-06-16 17:35] dcamron commented on #77
If you want to leave this open even after #81 as a reminder to have this material pop up elsewhere, we can.

[2021-06-16 17:56] brian-rose commented on #77
Yes, I would leave this open as a reminder to find a new home for the material (and also where to find it in the old commits).

[2021-06-16 18:28] dcamron opened #82 "Revisit CF content previously in `xarray`"
We've dropped the "NetCDF + CF" content section that was a part of our `xarray` notebook. Opening this issue to invite discussion on where/if we should have this content longer-term.

[2021-06-16 18:37] #69 closed

[2021-06-16 18:40] brian-rose commented on #82
Just noting here for reference that there was already some interesting feedback on this question in #33

[2021-06-16 18:42] brian-rose commented on #27
A temporary cover image was added in #80

We will revisit once the new theme is in place.

[2021-06-16 23:04] clyne opened #83 "Ten simple rules for writing and sharing computational analyses in Jupyter Notebooks"
[This](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007007) would be a  good document for us to reference some way in our introductory Jupyter Notebook content.

[2021-06-22 19:12] brian-rose opened #85 "Documentation for the book preview workflow"
I have a specific request for @andersy005: could you possibly write up some instructions on how you set up the book preview for PRs on Netlify?

I think this would be a valuable service for many other Jupyter Book projects.

Full disclosure, this partly a self-serving request because I'm trying to set up a similar workflow for my Climate Laboratory repo, e.g. https://github.com/brian-rose/ClimateL

[2021-06-22 19:16] andersy005 commented on #85
@brian-rose,

Definitely. I will ping you once I have these instructions ready (around this Thursday or Friday)

[2021-06-22 20:09] brian-rose opened #86 "Add analytics to Foundations site"
As discussed over at https://github.com/ProjectPythia/projectpythia.github.io/issues/114, we have a Project Pythia Google Analytics account to track usage.

We need to add the Foundations book to this tracking.

Should be straightforward:
https://jupyterbook.org/customize/config.html
shows how/where to set the google_analytics_id in our Foundations config.

[2021-07-08 18:41] dcamron opened #87 "Timing estimates"
Suggestion from @ncorbin-id:
Make our template and notebook time estimates some multiple of 5 minutes where short/normal-length sections of content take about 5 minutes to process and longer sections take 10. Even if these are totally off,  the "short/medium/long" isn't particularly helpful as-is. We can eventually target learners to evaluate our timing estimates if needed.

[2021-07-22 21:24] brian-rose opened #91 "Link checker failing repeatedly"
Seems that our nightly link checker has been quietly failing for the past month:
https://github.com/ProjectPythia/pythia-foundations/actions?page=2

I'm looking into what's going on now.

[2021-07-22 21:25] brian-rose commented on #91
The first failure was the link to our own Contributor's Guide:
https://github.com/ProjectPythia/pythia-foundations/runs/2890344699?check_suite_focus=true#step:6:204

I will submit a PR to fix this shortly.

[2021-07-22 21:29] brian-rose commented on #91
Oddly enough, a new error started showing up [22 days ago](https://github.com/ProjectPythia/pythia-foundations/runs/2957744196?check_suite_focus=true#step:6:35)
[code]

which looks like it might have been triggered by an upstream change in jupyter-book. Will investigate!

[2021-07-22 21:31] brian-rose commented on #91
Yes indeed, there was a recent breaking change in how Jupyter-book handles the TOC: https://jupyterbook.org/reference/_changelog.html#v0-11-0

[2021-07-22 21:41] brian-rose opened #92 "Notifications for build failures?"
As I noted over at #91, our book build has been failing on the nightly test build for over a month now. I'm wondering if we can set up notifications so that our @ProjectPythia/infrastructure team gets alerted to this.

[2021-07-23 00:16] andersy005 commented on #92
One option is to set up a workflow that opens an issue when the nightly CI has failed and pings the right team. I'm happy to look into this sometime next week

[2021-07-23 18:37] #91 closed

[2021-07-23 20:27] dopplershift commented on #92
I've found that approach really nice on MetPy (based on work done on xarray)

[2021-07-27 14:45] r-ford opened #94 "NumPy Basics - array indexing visualization"
I think the NumPy Basics notebook would benefit from having some sort of visualization of array indexing and slicing, similar to the tutorials [here](https://www.pythoninformer.com/python-libraries/numpy/index-and-slice/) and [here](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html).

[2021-08-05 17:20] brian-rose opened #97 "Intro to Jupyter content"
Merge or adapt material from Jupyter Meets the Earth project.

[2021-08-05 17:21] mgrover1 opened #98 "Update Xarray content"
Add advanced Xarray content based on Python tutorial material https://github.com/andersy005/xarray-tutorial

[2021-08-05 17:22] clyne opened #99 "Intro to GitHub content"
Foundations is currently missing "intro to GitHub" content [here](url).

[2021-08-05 17:22] mgrover1 opened #100 "Add Zarr section to data formats"
Within the data format section, add a section discussing the [Zarr](https://zarr.readthedocs.io/en/stable/) file format and some use cases

[2021-08-05 17:24] brian-rose commented on #99
Source material for this? Drop useful links here?

[2021-08-05 17:25] kmpaul commented on #99
https://drive.google.com/drive/folders/1hW_Litd_o4qIsn4A5VSDBZstXT3tENwz?usp=sharing

[2021-08-05 17:27] mgrover1 commented on #99
Would be good to incorporate this reference https://guides.github.com/activities/hello-world/

[2021-08-05 17:29] ncorbin-id commented on #99
Unidata Python Training site has a list of several existing resources: https://unidata.github.io/python-training/python/intro-to-python/

[2021-08-05 17:30] brian-rose commented on #100
Any good existing content on this? Drop links here.

[2021-08-05 17:30] kmpaul commented on #97
Xdev Tutorial material is here:

https://drive.google.com/drive/folders/1zNnBpagQi872f7bo-pkW4WhZKnn97NkW?usp=sharing

[2021-08-05 17:39] brian-rose commented on #87
More suggestions from @ncorbin-id:
Do a rough cut based on number of sections / subsections. Adapt based on real world usage.

[2021-08-05 17:39] brian-rose commented on #87
We may be able to gather usage statistics from @ktyle class this fall.

[2021-08-05 17:46] dcamron commented on #87
Suggestion: 5 mins per subsection, 10 if longer; add these up for a total. Safer to round up and overestimate

[2021-08-05 17:49] clyne commented on #97
[Here](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007007) is a reference to consider including.

[2021-08-05 17:50] clyne commented on #83
Moved content to #97

[2021-08-05 17:50] #83 closed

[2021-08-05 17:51] dcamron opened #101 "Clear out "user experience" identifier"
Currently in our template and notebooks we identify a vague "experience level" in the prerequisite information. Currently it's best to just take these out of everything and not have to evaluate these ourselves or expect users to self-evaluate. We should look forward to some sort of self-evaluation and better guidance on choosing a path through our content.

[2021-08-05 17:53] brian-rose commented on #77
We need to find a home for this. Perhaps it will fit with "How to build a python package" material.

[2021-08-05 17:54] kmpaul commented on #97
Fernando Perez's overview of the Jupyter ecosystem is here:

https://docs.google.com/presentation/d/1NcBVBBgHjXM-1rpBzlkqwlUlvcr_RpZOh5yMyDJOwRU/edit#slide=id.gdc01f99340_0_0

and an updated version is here:

https://docs.google.com/presentation/d/16Zo7A5z4HQkWz92Ph6e8gEhH3k6ITZKhzIRJyzXuqaY/edit#slide=id.p1

[2021-08-05 17:57] brian-rose commented on #76
We will author some new material for this.

[2021-08-05 18:01] ncorbin-id commented on #76
This might be a nice place for a video demonstration in conjunction with written steps. I make a lot of these types of videos and could knock one out pretty quick, provided someone gave me the steps. Happy to contribute if folks are interested.

[2021-08-05 19:01] erogluorhan opened #102 "Matplotlib content could be expanded with GeoCAT's past tutorial"
Hi @ProjectPythia/education

@anissa111 from GeoCAT gave a [Matplotlib tutorial](https://ncar.github.io/esds/posts/matplotlib-tutorial/) before as part of Xdev's (or ESDS's) Python Tutorial Seminar Series.

We believe parts or all of that tutorial could be used for expanding the content of [Pythia Foundations - matplotlib basics](https://foundations.projectpythia.org/core/matplotlib.html).

Please

[2021-08-06 16:08] clyne commented on #76
That is an an awesome idea, @ncorbin-id . Maybe we can team up on this. I could get a draft of the written documentation going, and once it passes review we could do the video. Sound good?

[2021-08-09 13:10] ncorbin-id commented on #76
Sounds good @clyne. Keep me posted!

[2021-08-12 18:59] brian-rose commented on #94
Let's add both the tutorials you linked above to the resource gallery.

[2021-08-12 19:01] brian-rose commented on #94
The image [here](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html#what-is-numpy) appears to be copied (probably without permission) from this book:
https://www.oreilly.com/library/view/elegant-scipy/9781491922927/ch01.html
"Elegant Scipy" published by O'Reily.

[2021-08-12 19:09] kmpaul opened #105 "Google Analytics not working"
It appears that the Google Analytics code generated for the website does not work.  There is an existing issues on the JupyterBook repo:

executablebooks/jupyter-book#1300

While it is "closed," it is clearly still in development as you can see at the bottom of the discussion.  The PR mentioned in this discussion is here:

pydata/pydata-sphinx-theme#439

which is still open.  When this gets merged

[2021-08-13 20:01] clyne commented on #102
I think the Southern Oscillation Index would make a nice real world example that could augment the current  [Pythia Foundations - matplotlib basics](https://foundations.projectpythia.org/core/matplotlib.html).

What are your thoughts @brian-rose, @mgrover1

[2021-08-16 15:15] mgrover1 commented on #102
This sounds great! Maybe more of an "applications-focused" example? Similar to the [Pythonic Data Analysis](https://unidata.github.io/python-training/workshop/Pythonic_Data_Analysis/pythonic-data-analysis/) examples from Unidata

[2021-08-19 18:46] brian-rose commented on #99
I'm going to assign this issue to myself and @ktyle because we've had some offline discussions about developing some "Intro to GitHub" material for Kevin's class that's starting next week.

[2021-08-19 20:29] mgrover1 opened #108 "Dask Section"
@andersy005 put together some nice content on dask within the xarray + dask python tutorials - could this fall within the foundations content as well? I can put together a first pass and we can iterate...

[2021-08-20 07:11] kitmacleod opened #110 "Issue on page /preamble/how-to-use.html"
State clearly who this is for. I am a fan of 'preamble'; 'introduction' or 'getting started' are clearer to me.

[2021-08-20 07:30] kitmacleod opened #111 "Issue on page /foundations/why-python.html"
A key page if coming from Zero Python knowledge (or from a small amount of R, Matlib etc knowledge). Maybe split into two: what is Python and why Python (I appreciate these are linked). I would include Python information like https://www.python.org/about/gettingstarted/, Python (like Go) is 'batteries included' (still need external packages, not to the same extent at Node.js) and link to PyPi (has

[2021-08-20 07:37] kitmacleod opened #112 "Issue on page /core/matplotlib.html"
If for complete Python beginners, why Matplotlib? Huge respect to John Hunter and the community, but it is a low level API compared to [Seaborn](https://seaborn.pydata.org/#), [Plotly](https://plotly.com/) and others. I understand why Matplotlib is a key part of the scientific Python stack (after coming to it ~ 13 years ago from Matlab). I also love how Hadley and others have used grammar of graph

[2021-08-20 18:06] dopplershift commented on #112
That's exactly why Matplotlib. 😉 It's also used as the basis for plotting by several other tools like MetPy, Geocat, Cartopy, etc.

That doesn't mean it has to be the *only* plotting library covered. We'd be happy to have contributions of training materials for other plotting libraries with earth system science applications.

[2021-08-20 18:16] clyne commented on #112
Indeed. We're iterating over some examples for the [GeoCAT gallery](https://github.com/NCAR/GeoCAT-examples) using Holoviews+Datashader to demonstrate interactive plots and the ability to handle high resolution data. I'd like to get these incorporated somehow in Pythia. Thanks for the input, @kitmacleod !

[2021-08-23 02:03] brian-rose opened #113 "Ambiguous instructions for building the book"
On the Contributor's Guide page [here](https://foundations.projectpythia.org/appendix/how-to-contribute.html) we say
[code]
but that's not the case anymore. The build instructions are immediately following on the same page. All instructions were removed from the README.

[2021-08-23 17:10] #113 closed

[2021-08-27 18:00] dopplershift opened #119 "Protected branch for main?"
Do we want to make main a protected branch? This means that  force-pushing to and deleting the branch is disallowed for everyone (unless we specifically allow it). We also have these options available to us:
* Require a number of reviews
* Require a review from a codeowner
* Require that one or more of the PR status checks pass (by default admins can override as needed)

The last one is one I'm in

[2021-08-30 21:38] brian-rose commented on #119
+1 for auto-merging, especially for bot-generated maintenance PRs.

I think we're probably ready to implement the "require a review from a codeowner" rule now that we have a sensible team-based codeowner system in place, so that it's very unlikely we'll be stuck waiting on any one individual who might be away/unavailable to review.

[2021-08-31 16:56] #76 closed

[2021-08-31 16:56] #110 closed

[2021-08-31 17:25] #105 closed

[2021-08-31 21:41] clyne opened #127 "Add video supplement for "How to Use This Book""
@ncorbin-id, #76 has been merged. How would you like to proceed with the video?

[2021-08-31 23:33] ncorbin-id commented on #127
@clyne First I will take what you've written and create a script from it along with a proof-of-concept video. Then I'll take your comments and feedback on that and create a more polished version, which may or may not end up being final. It's important that we get any script or wording issues taken care of before that second iteration of the video since re-recording and editing audio is a non-trivi

[2021-09-01 02:43] clyne commented on #127
Sounds great. No rush.

Agreed!

[2021-09-01 13:33] erogluorhan opened #128 "Revert Google Analytics Workaround Once pydata_sphinx_theme Fix Released"
We now have Google Analytics working for our Foundations Book with the help of PR #123.

Our PR was just a workaround until [pydata/pydata-sphinx-theme#439](https://github.com/pydata/pydata-sphinx-theme/pull/439)gets merged and released. So, once it is done, our PR #123 should better be reverted.

[2021-09-08 20:08] jukent opened #130 "Linkify too aggressive"
In my most recent PR #129 JupyterBook kept trying to render a file path as an html link. I think this is because we have linkify set up to automatically detect links, and it is too aggressive. I'm not sure if we want to disable linkify or perhaps find a way to tone it down.

https://github.com/ProjectPythia/pythia-foundations/blob/000661ff92f544e95efdaebe88c2c10b1f3c734b/_config.yml#L28

[2021-09-08 21:04] dcamron commented on #130
`linkify-it` does appear to include `.py` domains by default. Looks like myst/markdown-it-py don't provide for any config to linkify-it-py, so it doesn't look particularly straightforward/not-hacky for us to relax it ourselves?

I don't see us often typing "xxxx.py" without it being `code`, but also I don't think we're necessarily _relying_ on `linkify` either. I guess we make sure people are usin

[2021-09-09 14:41] brian-rose commented on #86
Closing this because we have working analytics now since merging #126. There's a workaround that will be removed after upstream updates as discussed in #128 .

[2021-09-09 14:41] #86 closed

[2021-09-09 17:17] clyne commented on #130
BR, DC: we should not use linkify-it at all. Let's get rid of it. @kmpaul if you are ok with this can you make the change?

[2021-09-09 17:21] clyne commented on #92
@andersy005 can you please move ahead with your planned fix? Thanks

[2021-09-09 17:24] clyne commented on #74
Let's remove from foundations if possible

[2021-09-10 20:35] dopplershift commented on #74
One thing to note here is that getting issue templates from the main organization `.github` repository is a [all-or-nothing](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file#about-default-community-health-files). There's no way to inherit and add.

[2021-09-10 21:40] r-ford opened #133 "Datasets not recognized in new Xarray content"
In #107 the two new notebooks are giving the error `File 'CESM2_sst_data.nc' is not in the registry.` My local build works fine and I see the files in `pythia-datasets`, so I am not sure what the problem is. @mgrover1, do you know what might be causing this?

[2021-09-10 23:50] #94 closed

[2021-09-13 15:58] kmpaul commented on #130
It might be nice to know what links fail without the checks failing.

[2021-09-13 16:27] mgrover1 commented on #133
Ahh I think we will need to add a new release to the [pythia-datasets](https://github.com/ProjectPythia/pythia-datasets) repo, since the PR is likely pulling the older version which does not include the new datasets. @andersy005 would you be able to help with issuing the new release? I can help with this!

[2021-09-13 16:33] andersy005 commented on #133
@mgrover1, please feel free to cut a new release. The process is automated. All you have to do is make a release on GitHub: https://github.com/ProjectPythia/pythia-datasets/releases and the GitHub action will take care of the rest.

To avoid running into this issue when new datasets are added, it is worth looking into ways to stream the registry file from the GitHub repo (https://github.com/Projec

[2021-09-13 16:44] mgrover1 commented on #133
Thanks @andersy005 - that is a good point, and something we should consider. I went ahead and cut a new release, so @r-ford , you should be good to go now. I think you can just try rerunning the various actions, and it should access the most recent release ([`v2021.9.13`](https://github.com/ProjectPythia/pythia-datasets/releases/tag/v2021.9.13))! Let me know if you have any questions.

[2021-09-13 18:06] jukent commented on #130
That would be nice! I do think that is separate from `linkify` and has more to do with `link-checker` though (perhaps a soft check with a warning instead of a failure).

Currently `linkify` automatically looks for links, which I'm not sure we need because all links should be intentionally by the author.

One work around we discussed in the IWG is that we should always style paths in codeblocks, so

[2021-09-14 17:50] brian-rose commented on #87
I think we can close this since #106 got merged.

[2021-09-14 17:50] brian-rose commented on #101
I think this is done with the merge of #106. Close this?

[2021-09-14 17:51] #87 closed

[2021-09-14 17:51] #101 closed

[2021-09-15 03:38] andersy005 commented on #85
I plan on working on this once #136 is merged

[2021-09-16 16:37] brian-rose commented on #133
Is this fixed with the new release? Close this issue, and/or open a new issue to follow up on @andersy005's suggestion to avoid similar issues in the future?

[2021-09-16 16:42] r-ford commented on #133
This issue is fixed. I think we can open a new one for follow up if needed.

[2021-09-16 16:42] #133 closed

[2021-09-16 18:04] brian-rose commented on #111
Thanks @kitmacleod for these comments! @ProjectPythia/education we didn't get to this one today but we'll discuss at a future EWG meeting.

[2021-09-16 18:09] brian-rose opened #138 "Add some discussion on "Why Matplotlib""
Following up on @kitmacleod's comments in #112 and today's EWG meeting discussion, we want to add some text to the Foundations [landing page for the Matplotlib section](https://foundations.projectpythia.org/core/matplotlib.html) addressing more clearly why one should learn Matplotlib, and maybe how it fits in with some of the other plotting libraries.

[2021-09-16 19:29] brian-rose commented on #130
+1 for removing plugins that we don't find helpful! Automation is great except when it gets in the way of doing what we want to do. I do not think we have identified any need for `linkify`.

@kmpaul I do think this is separate from checking links. `linkify` is turning things into link which were not meant to be links, and thus triggering false failures.

[2021-09-16 19:34] brian-rose commented on #128
Just noting here that https://github.com/pydata/pydata-sphinx-theme/pull/439 was apparently merged recently, so we can circle back to this whenever the next release of pydata-sphinx-theme happens (currently at v0.6.3)

[2021-09-16 20:59] erogluorhan commented on #128
Yes, I am keeping my eyes on their release, too. Thanks for reminding!

[2021-09-17 19:11] clyne opened #140 "Add video to support "Getting Started with Jupyter""
The Getting Started with Jupyter content  [here](https://foundations.projectpythia.org/foundations/getting-started-jupyter.html) would benefit from a video that walked students through this interactive introduction to Jupyter. Note, this content is pending merger of PR #131

[2021-09-17 20:20] brian-rose opened #142 "conda update fails to pick up new version of pythia-datasets"
As noted over at https://github.com/ProjectPythia/projectpythia.github.io/issues/162, users should expect to run
[code]
to update the package versions in their environment.

Unfortunately running this command on the `pythia-book-dev` environment does NOT pick up the latest release of `pythia-datasets` that got released as a fix for #133. The reason is that `pythia-datasets` is released on pypi.org

[2021-09-17 20:34] ktyle opened #143 "Document PYTHIA_DATASETS_DIR in pythia_datasets package"
Datasets that are requested from pythia_datasets get stored in the user's .cache directory. Could we do something akin to what Cartopy does in terms of Natural Earth shapefiles, where one could define a different, networked-served directory?

The motivator here is for users who are running scripts or notebooks that use pythia_datasets but who may be logging into a networked-served Linux directory

[2021-09-17 20:53] andersy005 commented on #143
@ktyle, users can override the default cache location by setting `PYTHIA_DATASETS_DIR` environment variable.

[2021-09-17 20:55] ktyle commented on #143
Ok great!!

[2021-09-17 20:56] brian-rose commented on #143
Can we get this info into our user guides somewhere?

[2021-09-17 21:56] jukent opened #144 "Broken links in `core/cartopy/cartopy`"
Link-checker is failing PR #131 due to broken links in `core/cartopy` - which was not changed in this PR. So we have some broken links upstream?

[code]

[2021-09-17 21:59] jukent commented on #144
This seems like an easy fix if anyone knows where the link is supposed to point.

[2021-09-17 23:51] clyne commented on #143
This issue was closed. Did we get an issue opened to document the `PYTHIA_DATASETS_DIR` env. variable?

[2021-09-17 23:57] brian-rose commented on #143
No. Suggest just reopening and retitling this issue.

[2021-09-20 16:36] dopplershift commented on #144
The right fix I think is to update to the new link for v0.20: https://scitools.org.uk/cartopy/docs/latest/reference/crs.html#list-of-projections

[2021-09-20 16:39] jukent commented on #144
Okay great! I couldn't find the new path that would point to a comparable page.

[2021-09-20 16:48] #144 closed

[2021-09-20 19:00] kmpaul commented on #130
👍 Then I think we should remove `linkify`.

[2021-09-20 22:09] brian-rose commented on #142
Over at https://github.com/ProjectPythia/projectpythia.github.io/issues/162 we decided to fix this by going the conda-forge route.

[2021-09-22 02:56] ktyle commented on #99
@clyne the GitHub course material I've used in the class is not notebook-based ... I've slightly modified the content that is used in [The Carpentries git-novice lesson](https://swcarpentry.github.io/git-novice/) and covered the first 9 "episodes" in the second and third weeks of this current semester. Throughout the rest of the semester, I have students use Git to push their assignments to the cl

[2021-09-22 18:07] clyne commented on #99
@ktyle the details of the TAC proposal are a little vague, but the basic idea is that TAC would solicit requests for hackathons around developing Python content in Notebooks. A service that TAC would provide to support these hackathons is training on technologies needed to develop and share notebooks. What's in it for us? Exposure for the project and an opportunity to get feedback from the TAC and

[2021-09-22 21:35] brian-rose commented on #142
There is now a [conda-forge package for pythia-datasets](https://github.com/conda-forge/pythia-datasets-feedstock). We just need to update the `environment.yml` file for the foundations repo.

[2021-09-23 01:35] #142 closed

[2021-09-23 16:04] brian-rose commented on #143
I opened a PR over on the pythia-datasets repo to address this.

@ktyle Do we need to put any info about this somewhere in the Foundations material?

[2021-09-23 16:58] #143 closed

[2021-09-23 18:19] #130 closed

[2021-09-23 21:04] #97 closed

[2021-09-30 15:52] brian-rose commented on #140
Just noting here that #131 was merged so we can go ahead with this.

[2021-09-30 17:48] #111 closed

[2021-09-30 18:07] brian-rose commented on #63
At the EWG meeting today (9/30/2021) we batted around the idea of getting started with a separate gallery or "cookbook" section of the Pythia Portal that could house material that doesn't belong in Foundations for whatever reason. That could be the right place for this content.

[2021-09-30 18:10] brian-rose commented on #102
Gentle ping to @anissa111, we discussed this issue at the EWG meeting today! Do you have a brief status update on this issue?

[2021-09-30 18:13] anissa111 commented on #102
Hello @brian-rose, yes! This is actually next on my to do list. A lot of the content already exists and just needs to be repurposed. The project I'm currently working on is wrapping up today and then I'm going to turn my attention to this. Apologies for the delay!

[2021-10-07 16:35] r-ford opened #157 "Previous and next page links are formatted differently in new Xarray notebook"
In the current preview link in #107, the two links at the bottom of the page are formatted differently for notebook `computation-masking.ipynb`, but not the other new notebook.

[2021-10-19 20:01] clyne commented on #99
Notes from brainstorming session:

BR: suggested outline
What is GH and why use it (and relation to Git)?
How create an account
What can you do with GH (first steps), quick start to getting involved
Contribute to discussion pages
browse/comment on issues
add a link to our gallery
More powerful things that can be done with GitHub + Git (overview)
Painful necessities  (Prerequisites for more powerfu

[2021-10-28 01:12] github-actions opened #165 "⚠️ Nightly build failed ⚠️"
[Workflow Run URL](https://github.com/ProjectPythia/pythia-foundations/actions/runs/1392619018)

---

Cc @ProjectPythia/core

[2021-10-28 02:37] #165 closed, assigned to nobody

[2021-10-28 17:36] clyne opened #168 "Conda environment missing dependencies needed for Dask?"
When I try to build #109 locally the Dask components fail with

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
/var/folders/7m/5m80rt_x5b38swj51zdp9qjhyhpj03/T/ipykernel_25891/1519977778.py in <module>
----> 1 import dask
      2 from dask.distributed import Client, LocalCluster

ModuleNotFound

[2021-11-01 17:07] clyne commented on #99
We got word today that the TAC hackathon proposal was awarded. I will reach out about a more reasonable target date for having a draft of out GitHub content in place.

[2021-11-01 21:26] clyne commented on #99
The deadline for the draft GitHub content is November 30.

cc: @ktyle , @brian-rose

[2021-11-11 01:15] github-actions[bot] opened #174 "⚠️ Nightly build failed ⚠️"
[Workflow Run URL](https://github.com/ProjectPythia/pythia-foundations/actions/runs/1451216978)

[2021-11-11 13:46] brian-rose commented on #174
@andersy005 it looks like this might have been a false alarm? I don't see any actual build failures anywhere.

[2021-11-11 14:53] ncorbin-id commented on #127
The first draft of the script is complete and ready for comment. I've drafted it in Google docs for direct commenting, and I already have a few questions for y'all in there already.
https://docs.google.com/document/d/1yD8q63KEei5sDCOW_mNI4Ncadli4SpRBUceVbXYa4Rk/edit?usp=sharing
I'll also set the expectation again that modifying the wording of the script at this stage is very important since changi

[2021-11-11 15:41] kmpaul commented on #174
Yeah.  The build looks like it didn't fail.  I'd suggest we change the title of the issue and see if we can trace down why the issue got created.

[2021-11-11 16:55] brian-rose commented on #174
Ok! So there is a failure. Looks like it was triggered by something in `pydata-sphinx-theme`.
A little sleuthing shows that there was a new release of that package yesterday, so that's the likely culprit:
https://github.com/pydata/pydata-sphinx-theme/releases

[2021-11-11 17:12] brian-rose commented on #174
Seems related to this: https://github.com/executablebooks/sphinx-book-theme/issues/423

[2021-11-11 17:19] brian-rose commented on #98
Is this done with the merging of #107? Should we close?

[2021-11-11 17:34] mgrover1 commented on #98
@brian-rose yes! I think we can go ahead and close

[2021-11-11 18:42] #98 closed

[2021-11-11 20:08] dopplershift commented on #174
Why is "Build the book" set to `continue_on_error: true` (I really hate GitHub's implementation of it since it hides errors)? It'd be better to make the report condition on `if: always && (steps.build.outcome != 'success' || steps.conda.outcome != 'success')`.

[2021-11-11 21:47] ktyle commented on #174
I think the issue here is that when the environment gets created, a version of sphinx (now 4.3.0) is installed that is incompatible with the most recent conda-forge version of jupyter-book (0.12.0). Pinning sphinx to 3.5.4 in environment.yml allows the book build to complete (at least in my local environment).

[2021-11-11 22:03] ktyle commented on #174
reading executablebooks/sphinx-book-theme#423 closer, it's definitely sphinx 4.3.0 specific (4.2.0 works). Looks like once sphinx-book-theme-0.1.7 appears on conda-forge (which pydata-sphinx-theme 0.7.2 requires) things will get sorted out.

[2021-11-12 17:31] andersy005 commented on #174
The new release fixes the issue: https://github.com/ProjectPythia/pythia-foundations/runs/4192591862?check_suite_focus=true. I'm closing this...

[2021-11-12 17:31] #174 closed

[2021-11-12 21:40] clyne commented on #127
Looks great, @ncorbin-id. Please see my in-line reviews. cc'ing @brian-rose

[2021-11-15 14:41] brian-rose commented on #157
I notice that this problem has disappeared in our latest builds, e.g. https://foundations.projectpythia.org/core/xarray/computation-masking.html#resources-and-references

So I think we can close this?

[2021-11-15 15:12] brian-rose opened #176 "Book title: "Pythia Foundations" or "Project Pythia Foundations"?"
In preparing a video supplement for the Foundations book (#127), @ncorbin-id has identified an ambiguity in the title of the book.

The [landing page](https://foundations.projectpythia.org/landing-page.html) and TOC reference "Project Pythia Foundations".
But the [Preamble](https://foundations.projectpythia.org/preamble/how-to-use.html) (and possibly elsewhere) repeatedly references "Pythia Founda

[2021-11-15 15:40] brian-rose commented on #127
Just finished going through and left inline comments in the doc.

I'd love to resolve two issues before we proceed:
1. what's the name of the book? Thanks @ncorbin-id for identifying the inconsistency. I opened a new issue for this #176
2. Basic workflow for users who want to "download and run notebooks locally".

On point 2, my concern is that running notebooks requires a python / conda environme

[2021-11-15 20:57] clyne commented on #127
It seems that the first choice (bullet 1) would be slightly preferable. It's what we've documented. We've already provided an icon to download individual notebooks. And it would seem a slightly lower barrier for users to have to run a one-time command to set up their environment appropriately, rather than to have them clone a repo, find the notebook in the repo, and then also set up their environm

[2021-11-15 21:10] dopplershift commented on #127
Well, we could post instructions that point out how to create the environment without cloning like:
[code]
In that case we might want a more stripped-down environment file to point to (we can have multiple in the repo), since the one I pointed to above has all the dependencies necessary to build the site, not just run a notebook. Of course, the flip side is making sure that second environment stay

[2021-11-15 23:20] #128 closed

[2021-11-16 14:04] brian-rose commented on #127
I suspect that this is the right approach. We give users a straightforward way to set up a working environment without worrying whether they know how to `git clone` a repo.

We had a related discussion about environments in #56 (with no particular resolution). If we settle on this approach, then I think it makes sense to maintain two different environment files as @dopplershift suggests.

As for k

[2021-11-17 00:22] r-ford commented on #157
Sure, it looks good to me.

[2021-11-17 00:22] #157 closed

[2021-11-17 01:26] clyne commented on #127
Perhaps this can be discussed at the IWG meeting this week and we can figure out a path forward that would allow us to complete the video.

[2021-11-18 15:16] brian-rose opened #178 "matplotlib documentation link broken"
The nightly link checker failed on the link to https://matplotlib.org/stable/contents.html:
https://github.com/ProjectPythia/pythia-foundations/runs/4245572498?check_suite_focus=true#step:6:212

I think this is because the matplotlib website has just been reorganized with new content.

[2021-11-18 16:51] dopplershift commented on #178
That new link should be: https://matplotlib.org/stable/

[2021-11-18 17:03] brian-rose commented on #178
I'll do a quick fix now.

[2021-11-18 17:30] #178 closed

[2021-11-18 23:32] brian-rose opened #180 "JupyterBook gallery"
Here's a nice gallery of JupyterBooks from across the community:
https://executablebooks.org/en/latest/gallery.html

Let's get Foundations listed there! (Though I would love to resolve #176 first!)

[2021-11-19 01:06] github-actions[bot] opened #181 "⚠️ Nightly build failed ⚠️"
[Workflow Run URL](https://github.com/ProjectPythia/pythia-foundations/actions/runs/1479076381)

[2021-11-19 14:30] brian-rose commented on #181
Should be fixed with #182. We'll find out after tonight's build.

[2021-11-19 14:30] #181 closed

[2021-12-02 14:59] brian-rose commented on #99
Just updating this thread. With #169 merged, we have a coherent outline in place. The big need now is to actually flesh out content for some of [these sections in Foundations](https://foundations.projectpythia.org/foundations/getting-started-github.html).

Let's try to discuss strategy for this at the beginning of today's hackathon.

[2021-12-02 18:36] brian-rose commented on #99
Our current action plan is as follows:
- @ktyle is working on [Part 1: What is GitHub](https://foundations.projectpythia.org/foundations/github/what-is-github.html)
- @r-ford is working on [Part 2: GitHub repositories](https://foundations.projectpythia.org/foundations/github/github-repos.html)
- @brian-rose is working on [Part 4: Issues and Discussions](https://foundations.projectpythia.org/founda

[2021-12-03 18:56] clyne commented on #99
@SimonGoring perhaps you can view the extended outline that is now live [here](https://foundations.projectpythia.org/foundations/getting-started-github.html)

and provide feedback that would help us prioritize the remaining GitHub chapters for the TAC hackathons

[2021-12-04 23:37] r-ford commented on #99
After reading what @ktyle has written for Part 1, it looks like there's a lot of overlap with what I wrote so far for Part 2. Would it make sense to just combine these?

[2021-12-09 16:30] brian-rose commented on #168
@clyne did this get resolved? Or do you think this issue points to a need to update our guides on how to maintain the `pythia-book-dev` environment?

[2021-12-09 18:27] dcamron commented on #176
12/9/21 EWG meeting agreed to settle on "Pythia Foundations" authored by "Project Pythia" per Brian's suggestions here.

@ProjectPythia/outreach ping to make this titling resolution consistent among our efforts as well: Twitter, Medium, portal outreach/contributions etc.

[2021-12-14 20:27] brian-rose commented on #176
Book and portal are now up to date with consistent titling. Do we need to leave this issue open to address any other media?

[2021-12-16 18:41] #85 closed

[2021-12-20 00:26] fockboi-lgtm opened #197 "[Security] Workflow preview-book.yaml is using vulnerable action nwtgck/actions-netlify"
The workflow preview-book.yaml is referencing action nwtgck/actions-netlify using references v1.2. However this reference is missing the commit [223b5b5981680adfe8ec4c9f471620cbbdbfadec](https://github.com/nwtgck/actions-netlify/commits/223b5b5981680adfe8ec4c9f471620cbbdbfadec) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be relate

[2021-12-20 16:27] ncorbin-id commented on #127
Hey y'all, a few pending questions on this for you to make sure I have the story straight:

1. Is downloading a single chapter as an ipynb still an option for the user?
2. If yes, then will the user create the environment from an environment.yml file or will they need to clone the whole repo?
3. Where will the written instructions for the above workflow live in the book?

With those answers I'll f

[2021-12-21 14:00] brian-rose commented on #127
@ncorbin-id, we've discussed this at a few working group meetings, and I think we've settled on a strategy. In response to your questions:
1. Yes. The download button will remain on each book page.
2. Instructions for how to create a run-time environment (using @dopplershift's suggested approach above) will be prominently found in the "How to Use This Book" section. This will use the same `environ

[2021-12-21 14:04] brian-rose opened #198 "Instructions for setting up run environment in the "How to Use" section"
As discussed in #127 and at several working group meetings, we need to add some support for users who want to download and run individual notebooks without cloning the entire repository.

The instructions should include a command like
[code]
for creating the `pythia-book-dev` environment, along with additional instructions for activating and updating that environment.

[2021-12-21 14:05] brian-rose commented on #198
We may possibly want to add some boilerplate instructions in every notebook giving a link back to the "How to Use" page for setting up a run environment.

[2021-12-21 21:29] clyne commented on #127
Yes to 1 and 2. The instructions have been added to 'how-to-use' this book, in the yet-to-be merged PR, #199

[2021-12-23 18:55] brian-rose commented on #176
Discussed briefly at EWG meeting 12/23/2021. Ok to close this now.

[2021-12-23 18:55] #176 closed

[2021-12-23 21:40] clyne commented on #168
Works now. Thanks! Closing.

[2021-12-23 21:40] #168 closed

[2022-01-10 15:32] jukent commented on #99
Is there any part of this I can help with? If anyone no longer has time for part 1, 2, or 4 or wants any amount of assistance please let me know @ktyle @r-ford @brian-rose

[2022-01-10 22:04] brian-rose commented on #198
Closing this as I believe we addressed this in #199.

[2022-01-10 22:04] #198 closed

[2022-01-10 22:12] brian-rose commented on #99
Update: we had a meeting today with @ktyle, @clyne, @r-ford, @jukent and myself to strategize on how to get this done quickly. Here's a few things we decided:
- We are getting rid of the Part numbers (not needed as the sections are already ordered in the TOC)
- @ktyle will shortly be pushing updates to parts 1 and 2. They are pretty much ready to go.
- We are organizing lessons about forking, clon

[2022-01-10 22:17] brian-rose commented on #99
@ProjectPythia/education please be aware that we are trying to pursue a vastly accelerated review cycle this week to get this work done. It would be extremely helpful if you can follow your notifications and respond quickly to review requests, even if just to say that you don't have time to do the review. Thanks!

[2022-01-10 23:27] ktyle commented on #99
#192 has been renamed and contains updates to the first two lessons. We should be able to close #191 as I've incorporated @r-ford 's material for the GitHub Repositories lesson into the former PR.

[2022-01-11 19:35] dopplershift commented on #197
nwtgck/actions@v1.2 has been updated to point to 1.2.3. The referenced commit [appears in the list of commits](https://github.com/nwtgck/actions-netlify/commits/v1.2) now.

Thanks for reporting.

[2022-01-11 19:35] #197 closed

[2022-01-13 19:37] ktyle opened #206 "Shorten build time of Foundations book"
A significant time-suck when building the Foundations book (either on a local install or as a part of our CI suite) is during the rendering of the[ Intro to Cartopy ](https://foundations.projectpythia.org/core/cartopy/cartopy.html) notebook.

This is almost entirely within the <https://foundations.projectpythia.org/core/cartopy/cartopy.html#create-a-regional-map-centered-over-new-york-state> secti

[2022-01-13 21:05] brian-rose commented on #206
+1 for speeding up the builds!

[2022-01-13 21:43] brian-rose commented on #99
Ok here's another update with some milestones. I'll list the chapter headings, indicate current status, link the relevant PRs, and check things off when they get merged.

- [x] **What is GitHub?**  merged. By @ktyle
- [x] **GitHub repositories** merged. By @ktyle and @r-ford
- [x] **Issues and Discussions** merged. By @r-ford
- [ ] **Cloning and Forking a Repository** draft in #204 by @ktyle
- [ ]

[2022-01-13 21:47] jukent commented on #99
Would advanced topics include how to avoid and resolve merge conflicts?

[2022-01-13 22:20] ktyle commented on #99
@jukent Yes definitely!

[2022-01-13 22:20] ktyle commented on #99
Probably a whole laundry list of potential advanced topics ...

[2022-01-13 22:47] clyne commented on #99
Please!!!

[2022-01-15 15:33] r-ford commented on #99
I noticed that the [Contributor’s Guide](https://projectpythia.org/contributing.html) already has a detailed guide on how to "contribute to Project Pythia via GitHub." Is there anything not already there that we would want in that section of this tutorial? Maybe just a walk through actually submitting an issue or PR with screenshots?

[2022-01-15 17:10] clyne commented on #99
There are lots of ways to "contribute" to Pythia, such as participating on the discussion forum. IMHO these lower bar contributions are covered adequately elsewhere. Perhaps this section would be a good place for an example (or two) showing how to contribute actual content (e.g. a correction to a notebook, or even a new notebook)?

[2022-01-17 22:10] brian-rose commented on #206
@ktyle it looks like the Cartopy logo image file was not included in PR #209 so https://foundations.projectpythia.org/core/cartopy/cartopy.html is now showing an empty image.

[2022-01-17 22:22] ktyle commented on #206
@brian-rose Yes I independently just noticed that as well! #212 should resolve this.

[2022-01-17 22:36] brian-rose commented on #206
Resolved! I think we can close this issue now.

[2022-01-17 23:12] #206 closed

[2022-01-20 16:43] #54 closed

[2022-01-20 18:23] clyne commented on #99
We should to a top-to-bottom review all of the content in this book chapter before closing this issue

[2022-01-20 18:30] brian-rose opened #213 "Clean up the "Getting Started with GitHub" landing page"
Currently this page: https://foundations.projectpythia.org/foundations/getting-started-github.html
still says "under construction".

[2022-01-20 18:32] brian-rose opened #214 "Revisions to all GitHub content"
In our push to get the Intro to GitHub content created, we may have left some inconsistencies or differences in style among the sections. Once all sections are merged in, the final step should be to read through everything in order and see what needs ironing out.

[2022-01-20 18:34] brian-rose opened #215 "Still need the "Advanced GitHub Setup" section"
Relates to ongoing work described in #99

[2022-01-20 18:35] brian-rose opened #216 "Still need the "Contribute to Project Pythia via GitHub" section"
Relates to ongoing work described in #99

[2022-01-20 18:37] brian-rose commented on #99
Yes, I created a new issue #214 for this!

[2022-01-20 18:38] brian-rose commented on #99
All related issues and PRs are now tagged with the "GitHub content" milestone. Hopefully that makes it easier to keep track of things.

[2022-01-25 02:53] DamienIrving opened #220 "Add to the overview of the software stack?"
At the moment the [Overview](https://github.com/ProjectPythia/pythia-foundations/blob/main/core/overview.md) section of the "Core Scientific Python Packages" part of the book provides links to more information about numpy, matplotlib, cartopy, pandas, xarray, etc. I was wondering whether it would be worth adding some text to that overview section to explain how the core libraries relate to one ano

[2022-01-25 14:33] brian-rose commented on #220
I think it sounds like a great idea and will improve the readability of this section, particularly for new users who are working linearly through the book. I think the current Overview page is more of a placeholder than anything else.

[2022-02-10 00:07] brian-rose commented on #216
Closing this with the merger of #218

[2022-02-10 00:07] #216 closed

[2022-02-10 00:08] brian-rose commented on #215
We can close this after #223 is merged

[2022-02-15 16:39] brian-rose commented on #215
Closing now with the merger of #223

[2022-02-15 16:43] brian-rose commented on #213
This is the last piece of business to fix up before we do a thorough review in #214.

I'll try to put something together today.

[2022-02-16 16:01] sedv8808 opened #226 "Quickstart:zero to Python Binder link"
In the Quickstart: zero to Python, there is a sentence that mentions to click the Binder link to run the examples.

Could you please add the explanation of the Binder being on the right upper part / make the word Binder be a link? I found it pretty confusing as I was going through the module.

Thank you,

Socorro

[2022-02-16 16:33] clyne commented on #226
Thanks for reporting this @sedv8808. Agreed, this is confusing. We will get it addressed in time for the TAC hackathon trainings.

[2022-02-16 16:51] brian-rose commented on #226
Thanks for this feedback @sedv8808!

I just made small fix in #227 that hopefully addresses your concern. You are 100% welcome to take a look at the preview [here](https://620d2b2498bae833d7dda0a6--pythia-foundations.netlify.app/foundations/quickstart.html) and let us know what you think -- either here or over in #227.

[2022-02-16 22:57] sedv8808 commented on #226
🙌 Thank you! I think this is way clearer.

[2022-02-17 01:10] github-actions[bot] opened #229 "⚠️ Nightly build failed ⚠️"
[Workflow Run URL](https://github.com/ProjectPythia/pythia-foundations/actions/runs/1856122122)

[2022-02-17 15:46] #226 closed

[2022-02-17 19:09] brian-rose commented on #100
Discussed at the EWG meeting on 2/17/2022. The consensus was that this subject is not "foundational" enough to belong in Foundations, but should appear in a Cookbook that explores different data formats more fully.

Now mentioned over at https://github.com/ProjectPythia/pythia-cookbook/issues/1

I'll close this issue here.

[2022-02-17 19:10] #100 closed

[2022-02-17 19:12] brian-rose commented on #108
Discussed at the EWG meeting 2/17/2022. The consensus is that Dask is too complicated to really fit in Foundations. There's a clear need for good tutorial material on xarray + dask. A perfect topic for a future Pythia Cookbook.

Now mentioned over at https://github.com/ProjectPythia/pythia-cookbook/issues/1

[2022-02-17 22:12] brian-rose commented on #180
I went ahead and submitted a PR to add Foundations to that gallery: https://github.com/executablebooks/meta/pull/666

[2022-02-17 22:13] brian-rose commented on #138
pinging @jukent, maybe it would be natural to address this while you are working on revisions to matplotlib content in #167 and #170

[2022-02-17 22:40] clyne commented on #112
Coincidentally, NCAR's GeoCAT team just created their first interactive plotting example using Holoviews+datashader+geofviews [here](https://geocat-examples.readthedocs.io/en/latest/gallery-notebooks/Datashader/MPAS_Datashader_Trimesh.html).  Is this what you have in mind for a cookbook, @brian-rose

[2022-02-18 02:45] #229 closed

[2022-02-19 20:02] brian-rose commented on #180
It's visible now at https://executablebooks.org/en/latest/gallery.html

Do we like how this looks? We don't have a logo or simple graphic for Foundations, so I just used the white-on-black Pythia logo.

[2022-02-21 16:18] #213 closed

[2022-02-21 16:21] brian-rose commented on #214
We've set a meeting for Friday 2/25/2022 at 4:30 EST / 2:30 MST for a small group discussion (with me, @clyne, @jukent and @ktyle) to plan out the necessary revisions.

[2022-02-21 16:40] brian-rose opened #231 "Consistent use of the "Under Construction" header"
## The issue

There are lots of places in Pythia Foundations where there's a prominent __Under Construction__ disclaimer. These are relics from the early days when we laid out section headings before merging in actual content.

As Foundations reaches young adulthood, I think it's time to review the remaining headers and use them consistently. It's fine to leave them in places where we are clearly

[2022-02-21 16:43] brian-rose opened #232 "Markdown tutorial"
One section in the Foundations outline that is still blank: [Formatted text in the notebook with Markdown](https://foundations.projectpythia.org/foundations/markdown.html)

I still think this is important enough to cover, as it's a foundational skill for both working with notebooks and collaborating on GitHub.

If anyone has any useful source material for this, drop some links here!

[2022-02-22 15:45] clyne commented on #180
LGTM!

[2022-02-23 20:54] brian-rose opened #234 "Final polish of Matplotlib content"
With the recent merge of #230 and #230 our [Matplotlib content](https://foundations.projectpythia.org/core/matplotlib.html) is relatively mature and complete.

I'm noting here that this section could use a final read-through and polish with an eye toward consistency across the three notebooks, as well as the landing page (which still says "under construction" as I noted in #231).

[2022-02-24 18:35] brian-rose commented on #180
As discussed at today's IWG, I will submit a new PR to change the logo to the version that's blue-on-white (or actually on transparent) that includes the text "Project Pythia".

Logos are found on the Pythia shared google drive.

[2022-03-01 13:52] #138 closed

[2022-03-01 13:53] brian-rose commented on #234
Landing page was fixed in #235

I'll make one last pass through these notebooks to fix up a few inconsistencies.

[2022-03-01 15:06] jukent opened #239 "Add interactive and 3D plotting to Matplotlib content"
It is listed as something we want to cover, with the rest of the Matplotlib content coming together - maybe it is time to tackle this?

[2022-03-01 15:42] brian-rose commented on #239
There's an inherent challenge in coming up with good tutorial material for interactive plotting in a static book-like medium, but it would be a good addition. 3D plotting would be great too.

Would these be suitable tasks for our SIParCS intern?

[2022-03-01 16:44] jukent commented on #239
Yes I believe so. I'm not sure who originally wrote "interactive and 3D plotting" in the Matplotlib **coming soon**, but maybe they can chime in more with their ideas.

I think this could be great for a SIParCS intern.

[2022-03-01 18:24] clyne commented on #239
Hi @jukent, FYI the GeoCAT team recently published their first interactive plotting example using bokeh:

https://geocat-examples.readthedocs.io/en/latest/gallery-notebooks/Datashader/MPAS_Datashader_Trimesh.html

It's a fairly complicated example that shows how to plot high resolution unstructured grids, but my understanding is that GeoCAT will expand this gallery with some more basic examples wh

[2022-03-02 16:15] jukent commented on #214
I am going to work on the branches/PR overlap today.

[2022-03-02 19:05] jukent commented on #214
I'm reading through the forking, branching, and PR content more thoroughly to try and synthesize it better, and I think that "GitHub workflows" (currently covered in the PR chapter) should have its own chapter.

[2022-03-02 21:19] erogluorhan commented on #239
GeoCAT is planning to put together more interactive visualization examples in the near future through two main scopes:

1. Examples for structured grids under GeoCAT-examples
    - This effort is led by @anissa111 and @michaelavs and there will be a SIParCS 2022 internship (Project #1 - Expanding GeoCAT’s Visualization Capabilities) of them, part of which might be work on this
2. Project Raijin's

[2022-03-03 02:25] #234 closed

[2022-03-03 19:41] brian-rose commented on #232
As discussed at today's EWG meeting, some great source material from Unidata is [here](https://unidata.github.io/python-training/workshop/Jupyter_Notebooks/jupyter-notebooks-introduction/)

[2022-03-14 16:50] clyne commented on #127
Hi @ncorbin-id, just checking in to see what the status is on this. It looks like we've merged #199, mentioned above. Thanks!

[2022-03-31 16:29] brian-rose commented on #64
Here's some low-hanging fruit for a little improvement:
- Use consistent capitalization of "NumPy" and "Matplotlib" in this notebook
- Link to the Foundations pages for NumPy and Matplotlib
- Add a "Resources and references" section (consistent with Foundations template) with links to both Pythia and external resources on basic Python

[2022-04-01 00:04] dopplershift commented on #64
The official [tutorial](https://docs.python.org/3/tutorial/index.html) from python.org is how I learned when I started.

[2022-04-12 00:36] andersy005 opened #260 "Link checker CI: forbidden access"
`link-checker` CI has been complaining about [broken external links](https://github.com/ProjectPythia/pythia-foundations/runs/5981992819?check_suite_focus=true) from GitHub... the links do exist. it's just that for some reason GitHub servers appear to refuse granting access...

![Screen Shot 2022-04-11 at 6 26 45 PM](https://user-images.githubusercontent.com/13301940/162854595-e909978d-90ee-4932-8

[2022-04-12 02:20] brian-rose commented on #260
Weird.

Should we consider disabling the link-checker until a fix is found?

[2022-04-12 16:04] kmpaul commented on #260
Or do we just ignore it for now?

[2022-04-12 20:30] kmpaul commented on #260
Turns out this issue comes up with any GitHub URL in a "blank" Sphinx document.  I've created an issue on the Sphinx repo to document it:

https://github.com/readthedocs/readthedocs.org/issues/9102

[2022-04-12 20:46] kmpaul commented on #260
Temporarily, would could ignore linkchecker on any `docs.github.com` links with the Sphinx option:

`linkcheck_ignore = [r'https://docs.github.com']`

but I don't like this option for very long!

[2022-04-12 21:03] brian-rose commented on #260
I think this is the right approach. It's hard to make progress on everything else with all those nasty looking CI failures.

[2022-04-12 21:12] kmpaul commented on #260
Ok.  Then I'm going to push that change to @andersy005's #259 PR.

[2022-04-12 22:03] kmpaul opened #261 "Remove linkcheck_ignore when Sphinx linkchecker stops failing on GitHub URLs"
As referenced in #260:

_Originally posted by @kmpaul in https://github.com/ProjectPythia/pythia-foundations/issues/260#issuecomment-1097267058_

The `linkcheck_ignore` option is a complete hack.  Something about the GitHub documentation URLs leads to Sphinx's link checker to fail with a `403 Client Error`.  This shouldn't happen.  I have created an issue in the Sphinx repository here:

https://gi

[2022-04-12 22:04] #260 closed

[2022-04-13 00:48] dopplershift commented on #261
As noted in the linked sphinx issue, it seems to be that the docs site is doing some kind of user agent filtering--it remains to be seen what they do about it (github/docs#17042) In the meantime, you can give the Sphinx linkchecker custom headers to pass on a per-host basis. I've got this working for MetPy in `conf.py`. #262 is my attempt to convert that config to yaml.

[2022-04-28 18:08] brian-rose commented on #214
I think that #270 took care of the capitalization issue, but I'll keep an eye out for any other inconsistencies.

[2022-04-28 18:10] brian-rose commented on #99
Update 4/28/2022, based on discussion at today's EWG meeting, we will finally close this and #214 once all current PRs are merged, and pending one final read-through of the content by myself and @r-ford to look for any more inconsistencies.

[2022-04-28 18:48] brian-rose commented on #231
#272 removes the "Advanced GitHub Topics" page, since we currently have no plans for populating this.

[2022-04-28 18:49] brian-rose commented on #231
#232 addresses the Markdown page

[2022-04-29 15:43] r-ford commented on #214
I went through all of the material, and here are some comments and suggestions; I'll open a PR soon with the simpler edits.

The first 3 sections look good.

Cloning and Forking a Repository:

- A nitpick, but you don't need to highlight the link if clicking the copy-to-clipboard icon.
- Trying to clone the forked `<user>/github-sandbox.git` after `ProjectPythia/github-sandbox.git` raises an error

[2022-05-02 17:20] jukent commented on #214
Thanks. @r-ford Let me know if you want me to tackle any of these points.

Yes I believe that is the plan. Every now and then we can go in and close PRs.

[2022-05-02 18:51] brian-rose commented on #214
We can explore some automation for this. I think it's pretty simple to set up a bot to auto-close PRs that have gone stale after a certain amount of time.

[2022-05-02 18:59] dopplershift commented on #214
https://github.com/marketplace/stale

[2022-05-04 14:28] phil-blain opened #274 "Issue on page /core/matplotlib/matplotlib-basics.html"
Hi!

I noticed that the second subplot in the "Putting this all together" section uses `ax2.set_[xy]lim`:

https://github.com/ProjectPythia/pythia-foundations/blob/9c3a75be8dffce205c714674942d7ec9323bdd92/core/matplotlib/matplotlib-basics.ipynb?short_path=59de0a2#L632-L633

 even if it's created earlier with `sharex=ax, sharey=ax`:
https://github.com/ProjectPythia/pythia-foundations/blob/9c3a75be8

[2022-05-04 16:01] r-ford commented on #274
Hi @phil-blain! I don't see `ax.set_[xy]lim` in the "Putting this all together" section, so the `ax2.set_[xy]lim` are needed to set the limits. I think that it would probably be clearer to set the limits in the first subplot instead of the second, but they seem to be equivalent.

[2022-05-04 16:45] phil-blain opened #275 "Issue on page /core/matplotlib/annotations-colorbars-layouts.html"
In the "Shared colorbars" section, there is this note:
https://github.com/ProjectPythia/pythia-foundations/blob/9c3a75be8dffce205c714674942d7ec9323bdd92/core/matplotlib/annotations-colorbars-layouts.ipynb?short_path=ac96277#L418-L429

I think this is slightly misleading, as `hist1[3]` is not "subplot syntax"', as `hist1` is a tuple returned by `hist2d` and `hist1[3]` is a ` matplotlib.collections.

[2022-05-04 16:49] phil-blain commented on #274
Oh sorry you are right. Yes, maybe setting the limits in the first subplot would be slightly clearer.

[2022-05-04 22:15] brian-rose opened #276 "Matplotlib content on setting consistent colorbars"
Producing two (or more) contour or pcolor plots of different arrays but with the same colorscale (for fair comparison) is something that comes up very frequently but isn't always obvious how to do with matplotlib.

I think our tutorials should have a simple example for how to achieve this, probably in the first intro notebook.

We have examples of more advanced colorbar control, but I think there'

[2022-05-04 23:58] r-ford commented on #214
With #273 merged, I think the content looks good. I don't think the remaining items in my previous comment need to be addressed unless a user brings up a similar issue.

[2022-05-05 02:04] brian-rose commented on #214
I promised to do one last read-through, which I have not done. I'll keep this issue open until I follow through...

[2022-05-06 13:53] phil-blain opened #277 "Notebook does not work on Windows, "ImportError: DLL load failed while importing shell: The specified procedure could not be found.""
**What happened**: I tried to open the "[Calculating ENSO with Xarray](https://foundations.projectpythia.org/core/xarray/enso-xarray.html)" tutorial on my Windows laptop. It does not work because of some error with package `pywin32`.

**What you expected to happen**: It works.

**Minimal Complete Verifiable Example**:

1. Install Miniconda (well, Miniforge)
2. Follow https://foundations.projectpyt

[2022-05-06 14:12] phil-blain commented on #277
I did try `pywin32_postinstall.py -install` after activating the environment and before running `jupyter notebook`, and the same error happens.

[2022-05-06 14:41] phil-blain commented on #277
I also read https://jupyter-notebook.readthedocs.io/en/latest/troubleshooting.html#resolving-pywin32-issues and tried using:
`python.exe $env:CONDA_PREFIX/Scripts/pywin32_postinstall.py -install`:
[code]

Again, same error when executing the first cell.

[2022-05-06 18:01] phil-blain opened #278 "Issue on page /core/xarray/enso-xarray.html"
Hi again!

First: great book, I learned a lot of cool things!

I have a small suggestion for the ENSO tutorial:
Here, https://github.com/ProjectPythia/pythia-foundations/blob/fafb7685fbef343b8099d34dbc275a6bf705926c/core/xarray/enso-xarray.ipynb?short_path=a0230fd#L269-L278

we compute the standard deviation of the SST over the Nino 3.4 region, **over the whole time period of the data array**. I t

[2022-05-06 18:56] phil-blain commented on #277
A short and faster reproducer:
[code]

[2022-05-06 19:17] brian-rose commented on #277
@phil-blain thanks for this concise reproducer!

It doesn't sound like the error has anything to do with Pythia content per se, but maybe someone on our team has some knowledge about pywin32 and Jupyter notebooks.

[2022-05-06 19:18] phil-blain commented on #277
Yes I agree. I just wanted to report since it's the environment description you ship with the repo that creates this user experience on Windows...

[2022-05-06 19:22] phil-blain commented on #277
OK, even small env that reproduces:
[code]

Without `=3.8` it installs Python 3.10, and this works. So something in the rest of the packages listed in https://github.com/ProjectPythia/pythia-foundations/main/environment.yml seems to constrain Python to 3.8, in which apparently pywin32 interacts badly ...

[2022-05-06 19:26] phil-blain commented on #277
Ok, wrote too fast, the environment.yml itself constrains Python to 3.8 ...

[2022-05-06 19:40] phil-blain commented on #277
And removing `=3.8` from the environment YAML file does result in a full working environment.

I could submit a PR to do that.

[2022-05-06 20:05] brian-rose commented on #277
Interesting, I can't remember if there was a good reason that the `pythia-book-dev` environment was pinned to Python 3.8.

I suggest submitting a PR that removes that, and we'll see if all the tests pass.

[2022-05-06 20:37] phil-blain commented on #277
PR is here: https://github.com/ProjectPythia/pythia-foundations/pull/279

[2022-05-09 15:56] #277 closed

[2022-05-10 17:42] jukent commented on #278
Thanks for the suggestion @phil-blain ! I will try to get to this this week.

[2022-05-11 19:45] #275 closed

[2022-05-11 19:47] #274 closed

[2022-05-11 20:30] #278 closed

[2022-05-12 18:54] brian-rose opened #283 "Set up automated testing of environment on different platforms"
Following up on #277, it might be worthwhile to set up some additional GitHub actions to do regular testing of the `pythia-book-dev` environment on different platforms (linux, windows, Mac).

We could set this up as a once-weekly health test, just to see if we can create the environment and import packages.

[2022-05-18 15:43] jukent opened #287 "Content on "How to Review a PR""
Per discussion this morning with @dcamron @brian-rose and @jnmorley

We mention reviews and waiting for reviews before merging a PR, but we should document some tips on what to look for when reviewing a PR.

Some thoughts from the conversation:
- Look at the description and linked GitHub issue, you want to know if the PR addresses the issue
- Look at the files changed to see where the changes occu

[2022-05-20 22:01] jnmorley opened #288 "Clarification on Running JupyterLab Notebooks"
The text in the first paragraph of the section Running JupyterLab Notebook explains how to open a Jupyter Notebook in Jupyter Labs. It reads

<blockquote>Another way is to go to the top Menu Bar, hover over the File Menu, and select “New Notebook.”</blockquote>

https://foundations.projectpythia.org/foundations/jupyterlab.html#runnning-jupyterlab-notebooks

When I hover over the File Menu it does

[2022-05-23 14:10] brian-rose commented on #288
Hi @jnmorley, thanks for raising this issue! I removed the "low priority" label just because we usually use that to indicate things that we probably won't actually fix.

[2022-05-25 19:30] williamnicewonger opened #292 "Issue on page /core/pandas/pandas.html"
When trying to run the line "from pythia_datasets import datasets" receiving error:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Input In [3], in <cell line: 2>()
      1 import pandas as pd
----> 2 from pythia_datasets import datasets

ModuleNotFoundError: No module named 'pythia_datasets'

[2022-05-27 07:00] Cescoooo commented on #292
Try to re-install it or check your tool settings about modules

[2022-05-27 14:51] brian-rose commented on #292
Hi @williamnicewonger, thanks for this report.

How / where are you running this notebook? Did you set up the necessary conda environment as described here: https://foundations.projectpythia.org/preamble/how-to-use.html#interacting-with-jupyter-books-locally?

[2022-05-27 15:07] williamnicewonger commented on #292
Hi Brian,

No I don’t think I set up the conda environment correctly. I’m so new to
python and coding in general. Thanks for sending me the link. I’ll try that
and get back to you.

Respectfully,
William

On Fri, May 27, 2022 at 08:51 Brian Rose ***@***.***> wrote:

[2022-05-27 16:14] brian-rose commented on #292
Hi William,

Great! Please take a look through the earlier sections of [Pythia Foundations](https://foundations.projectpythia.org/landing-page.html) for lots more guidance on how to get started.

[2022-05-27 19:25] williamnicewonger commented on #292
Hi Brian,

I am still having issues accessing the data associated with “from
pythia_datasets import DATASETS”.

I keep getting errors saying no module named ‘pythia_datasets’

I created the environment correctly but still nothing has changed.

Any ideas on how to fix this?

Respectfully,
William

On Fri, May 27, 2022 at 10:15 Brian Rose ***@***.***> wrote:

[2022-05-27 19:36] brian-rose commented on #292
Ok, we'll need a little more information.

Trying doing this from the same terminal you used to launch Jupyter notebook
[code]
and copy/paste the output here. This will show what's in your currently activated conda environment.

[2022-05-27 19:42] williamnicewonger commented on #292
This is kind of embarrassing, but in my terminal window that launched Jupiter notebook, nothing happens after typing Conda list or another command for that fact

[2022-05-27 19:46] williamnicewonger commented on #292
anaconda3/envs/pythia-book-dev:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
anyio                     3.6.1           py310h2ec42d9_0    conda-forge
aom                       3.3.0                h96cf925_1    conda-forge
appdirs                   1.4.4              pyh9f0ad1d_0    conda-forge
appnope

[2022-05-27 20:08] brian-rose commented on #292
@ProjectPythia/infrastructure anyone have an idea what's going on here? `pythia-datasets` is in the conda environment, but `from pythia_datasets import DATASETS` raising a `ModuleNotFoundError`

[2022-05-31 19:56] ktyle commented on #292
@williamnicewonger what OS are you running?

@brian-rose , while I was able to build the environment which installed python 3.10.4 (Linux amd64) and after activating, could run the import without error, I noticed a couple curiosities:
1. The conda solve took significantly longer than it has in the past
2. Likely related to (1), several packages in the environment (e.g., cartopy, matplotlib) were p

[2022-06-01 00:51] ktyle commented on #292
Hmmm on my M1 Mac (also 12.4), the environment built properly and I was able to import pythia_datasets without error.

[2022-06-01 16:40] dcamron commented on #292
@williamnicewonger Looks like you're using Anaconda Navigator to launch Jupyter? If so, make sure you're running Jupyter from within the **activated** environment you listed above, and not from the `base` environment in the Navigator. From the terminal:
[code]
then try `from pythia_datasets import DATASETS` from within that Jupyter Lab instance. If that still doesn't work, please provide us with t

[2022-06-01 16:48] #292 closed, assigned to nobody

[2022-06-10 16:58] dcamron commented on #64
Closed in #298

[2022-06-10 16:58] #64 closed

[2022-06-13 15:43] jnmorley opened #299 "Content on saving netCDF files to disk"
I noticed when working through the netCDF content in the Pythia Foundations book that there is no content that teaches how to actually persist the netCDF file to disk. I thought it might be constructive to add some content on how to save the file to disk and also how to open an existing file without overwriting existing data.

[2022-06-14 15:08] #299 closed

[2022-06-14 16:56] jnmorley opened #302 "Link checker failing"
The link checker action is failling to run successfully. [link to failed action](https://github.com/ProjectPythia/pythia-foundations/actions/runs/2496219845) When I click on most of the links (specifically links to Cartopy resources) flagged as broken they appear to still work. Two other links are flagged as broken both from the xarray computation-masking page. They are [https://www.ncdc.noaa.gov/

[2022-06-14 17:13] jukent commented on #302
Thanks for pointing this out @jnmorley

[2022-06-24 20:44] r-ford commented on #302
Seems like this may now be resolved. [I ran the link checker here.](https://github.com/ProjectPythia/pythia-foundations/runs/7048288897?check_suite_focus=true#step:6:368)

[2022-06-26 02:42] brian-rose commented on #302
Yes, the link-checker actions runs nightly and it hasn't been showing any failures recently (e.g. https://github.com/ProjectPythia/pythia-foundations/actions/runs/2562505060)

Usually these kind of failures are due to some temporary server glitches on the remote end (in this case ncdc.noaa.gov).

I'll close this issue now since no action is required from us.

[2022-06-26 02:42] #302 closed

[2022-06-27 17:32] clyne commented on #99
I think we can close this lengthy issue. All of the outstanding items are included in #214.

Ok to close @brian-rose, @ktyle, @jukent ?

[2022-06-27 21:33] #99 closed

[2022-06-27 21:55] jukent opened #306 "Contributor's able to merge directly to `main`"
@hCraker pointed out that she is able to commit directly to the main branch. We have protections in place on the portal that require reviewers before merge. Should we recreate that here?

[2022-07-07 16:15] brian-rose commented on #306
Related (maybe the same?) issue in #119

Consistency in our review and merge policies across different repos would be great!

[2022-07-07 16:18] #306 closed

[2022-07-08 22:45] brian-rose opened #309 "Foundations should be citable with a DOI"
As I mused about over at https://github.com/ProjectPythiaCookbooks/projectpythiacookbooks.github.io/issues/15, the Foundations book should be citable with a DOI pointing to specific tagged versions of the book. Zenodo makes this pretty simple.

We would need to create a tagged Release of the source repo. I think this would be a good summer goal, once we get a few of the outstanding content gaps re

[2022-07-08 22:47] brian-rose commented on #276
@hCraker has built a nice short Cookbook on this topic now visible at https://cookbooks.projectpythia.org/mpl-colorbar-cookbook

Question: does it make more sense to keep this content in a free-standing Cookbook, or integrate into our basic [Matplotlib tutorials](https://foundations.projectpythia.org/core/matplotlib.html) here in Foundations?

[2022-07-10 18:01] clyne commented on #276
Great question. I think we still struggle with defining what is and what is not a cookbook. But given the focus of the colorbar cookbook on using matplotlib, and its generality  to all users, I guess I'd say Foundations would be a better fit for it. Is it worth the effort to move it? Not sure. At the very least it would be good to link to it from the Foundations material.

[2022-07-10 18:31] ktyle commented on #276
I think it would be a valuable component of the Foundations' matplotlib content ...

[2022-07-11 14:15] hCraker commented on #276
While we haven't settled on a complete definition, the majority of the cookbooks have multiple pages and are longer than the foundation notebooks. Cookbooks also cover more niche topics. I would say the topic of the cookbook I made is general enough and covered in a sufficiently small tutorial that it would belong in foundations rather than cookbooks.

[2022-07-11 14:31] brian-rose commented on #276
Agreed! I think it's a Foundational topic.

The alternative would be to plan to develop a longer series of "specialized" matplotlib lessons to house in the Cookbook, but there are many other places online to find such lessons.

It should be a relatively easy lift to move the Colorbars notebook and integrate it into Foundations.

[2022-07-11 14:54] hCraker commented on #276
It looks like the foundations page already talks about [shared colorbars](https://foundations.projectpythia.org/core/matplotlib/annotations-colorbars-layouts.html#shared-colorbars) and choosing [accessible colormaps](https://foundations.projectpythia.org/core/matplotlib/annotations-colorbars-layouts.html#colormap-overview). Do we even need my notebook? I didn't go into much more detail thank what'

[2022-07-11 15:47] dopplershift commented on #276
Looking through that, it could certainly use some more explanation about the role of `Normalize` in controlling the range of the colormapping and keeping things common between multiple plots.

[2022-07-12 14:22] hCraker commented on #276
I'll open a PR to merge the existing shared colorbar content with what's in my cookbook. @dopplershift thanks for pointing out the need for more instruction on using `Normalize`. I'll include that as well

[2022-07-18 15:22] jukent opened #311 "Internal Relative Links broken in Binder version of pages"
**What happened**: Relative local links don't work in the Binder version of each foundations page. This was noticed by Lily Kailyn

**What you expected to happen**: Links to work

**Minimal Complete Verifiable Example**: Replace this links with absolute paths

[2022-07-25 14:18] #276 closed

[2022-09-21 16:13] #287 closed

[2022-10-03 20:08] dopplershift opened #325 "Replace styfle/cancel-workflow-action"
We should be able to do with with built in concurrency settings in GitHub Actions:

[code]

Would eliminate some complexity and an external dependency.

[2022-10-05 17:39] jukent commented on #74
I don't see this link on the Foundations site. Has this issue already been addressed?

[2022-10-11 12:58] brian-rose commented on #325
I think it would be helpful (from a maintenance perspective) to harmonize the build-and-preview infrastructure for Foundations with what we're doing with Cookbooks.

Once things settle down on the Cookbook front, we should migrate the Cookbook infrastructure to this repo. That would be a good opportunity to eliminate the `cancel-workflow-action` dependency.

[2022-10-11 13:06] brian-rose opened #328 "Broken link to Jupyter graphic"
Our link-checker has been failing for a while now, e.g. https://github.com/ProjectPythia/pythia-foundations/actions/runs/3223393187

The culprit is a graphic at the top of the [Getting Started with Jupyter](https://foundations.projectpythia.org/foundations/getting-started-jupyter.html) page, which links to https://datascience.foundation/backend/web/uploads/blog/Working-with-Python-on-Cloud.png. Se

[2022-10-11 13:07] brian-rose commented on #328
I'll go ahead and assign "high priority" to this because it's causing CI failures.

[2022-10-11 14:48] ktyle commented on #328
A trip on the Internet Wayback Machine confirms it's just a [Jupyter logo](https://user-images.githubusercontent.com/1961038/195123693-ccb34976-84c1-49fd-9534-264fa27c3f6c.png).

[2022-10-11 16:59] dopplershift commented on #328
Or maybe link this? https://github.com/jupyter/jupyter.github.io/blob/master/assets/logos/rectanglelogo-greytext-orangebody-greymoons.svg

[2022-10-11 16:59] dopplershift commented on #328
Or copy it into our repo.

[2022-10-25 14:31] #328 closed

[2022-10-26 13:03] brian-rose opened #333 "Link failure"
Link checker is currently failing on this page: https://foundations.projectpythia.org/core/xarray/enso-xarray.html

Offending link is:
https://climatedataguide.ucar.edu/sites/default/files/styles/node_lightbox_display/public/key_figures/climate_data_set/indices_oni_2_2_lg.png?itok=61jS7Jz7

[2022-11-01 20:02] brian-rose commented on #333
A little poking around on the Climate Data Guide site revealed the same image at this URL:

https://climatedataguide.ucar.edu/sites/default/files/styles/extra_large/public/2022-03/indices_oni_2_2_lg.png

[2022-11-01 20:03] brian-rose commented on #333
I'll fix the links in our notebook now.

[2022-11-01 23:06] #333 closed

[2022-11-07 21:44] brian-rose opened #335 "Use Cookbook infrastructure"
To simplify future maintenance and reduce dependencies, it would be good to update our GitHub Actions infrastructure for building, previewing, and link-checking to use the same actions as Pythia Cookbooks.

[2022-11-07 21:45] brian-rose commented on #325
Opened #335 to discuss migrating Cookbook infrastructure to this repo. I think we're ready to implement this.

[2022-11-08 03:17] jukent opened #337 "Fix typos throughout foundations book"
There are 48 pages of Foundations. Lily Kailyn went through all the pages and listed typos and corrections in this [excel sheet](https://docs.google.com/spreadsheets/d/1xSnIc25uq9qRQzQtfo0hQVgM14pF33pfwDhabuCZrZw/edit#gid=0) and [Google doc](https://docs.google.com/document/d/1xTnL09TGLl5D5CgYRFx7sy2osgVSVrEjOhx-yLY_GWM/edit?usp=sharing). We need to go through and make these corrections.

[2022-11-08 13:22] brian-rose commented on #337
Looks really thorough! This is a great opportunity to polish up our Foundations content.

[2022-11-12 22:39] jnmorley commented on #337
I can take pages 10 - 20

[2022-11-14 23:08] brian-rose commented on #335
https://github.com/ProjectPythiaCookbooks/cookbook-actions/pull/25 adds the option to specify a `CNAME`, which is necessary for Foundations.

[2022-11-15 21:41] brian-rose commented on #311
This is an interesting question at the edge of what we're asking the Binder to do. Should the entire book be navigable *from within the Binder* so that links between different notebooks will open live notebooks on the Binder?

Or should those links take you to the static page version of that notebook (preferably in a different browser tab so your Binder session stays open)?

[2022-11-21 18:47] jukent commented on #337
I'm taking pages 0-10

[2022-11-21 20:16] ktyle commented on #337
I will take 21-30

[2022-11-22 20:51] #108 closed

[2022-11-22 21:02] brian-rose commented on #231
It would be great to revisit this during our latest content push prior to AGU 2022.

[2022-11-23 03:02] brian-rose opened #343 "Code errors on Xarray pages"
The latest builds have code errors in several places in our Xarray tutorials, e.g.
https://foundations.projectpythia.org/core/xarray/computation-masking.html#groupby-split-apply-combine
and
https://foundations.projectpythia.org/core/xarray/computation-masking.html#compute-anomaly
and
https://foundations.projectpythia.org/core/xarray/enso-xarray.html#visualize-the-computed-nino-3-4-index

Several o

[2022-11-23 03:03] brian-rose commented on #343
I'm taking the liberty of labeling this as "high priority" because we should not have ugly errors in our featured tutorials!

[2022-11-23 03:57] r-ford commented on #343
The nightly build for the CMIP6 Cookbook is also failing with [the same error](https://github.com/ProjectPythiaCookbooks/cmip6-cookbook/actions/runs/3528583013/jobs/5918840201#step:11:234).

[2022-11-23 17:11] brian-rose opened #344 "GitHub releases for Foundations"
Following up on [#239](https://github.com/ProjectPythia/projectpythia.github.io/discussions/239), I think we should start minting "releases" of the Foundations source on GitHub. We can use [calendar versioning](https://calver.org), e.g. `v2022.11.23`.

I think a sensible policy would be to mint a new release whenever there's a non-trivial change in content, e.g. a new chapter added, revisions to c

[2022-11-23 17:20] brian-rose opened #345 "Foundations health checks fail to identify failing code"
We recently discovered an example of code in a Foundations notebook that is failing (#343). We discovered this by accident while perusing the published pages. It's not clear how long that code has been failing.

This is basically a bug in our nightly health checks. We currently use `allow_errors: True` in the Foundations config file, so any run-time errors are silent and do not show up as CI failu

[2022-11-23 21:49] ktyle commented on #343
I did some Xarray version testing. It looks like this behavior begins with the most recent (2022.11.0) xarray release. The immediate predecessor (2022.10.0) works without error.

I can put together a PR with an `environment.yml` that specifies xarray<2022.11.0 as a quick fix, although it would be worth digging deeper to see if this is a bug in Xarray or if the lines that are throwing the error nee

[2022-11-24 02:09] ktyle commented on #343
suspect it stems from https://github.com/pydata/xarray/pull/7052

[2022-11-24 02:39] ktyle commented on #343
And it looks like the error goes away if we add
  `import nc_time_axis`

[2022-11-24 04:31] ktyle commented on #343
Looks like this problem will go away with the next release of Xarray, as it's been fixed with https://github.com/pydata/xarray/pull/7276

[2022-11-25 19:37] #343 closed

[2022-11-25 20:08] brian-rose commented on #345
Scanning through all pages in Foundations, here are places where I found that we have an expected failure for a cell:
- https://foundations.projectpythia.org/core/numpy/numpy-basics.html#arithmetic
- https://foundations.projectpythia.org/core/numpy/intermediate-numpy.html#array-comparisons
- https://foundations.projectpythia.org/core/numpy/numpy-broadcasting.html#what-is-broadcasting
- https://fou

[2022-11-25 20:51] brian-rose commented on #345
Actually it appears that all those cells in the notebooks I identified above _already_ have the `raises-exception` tag.

[2022-11-25 21:01] brian-rose opened #347 "Remove Xarray version pin after next Xarray release"
#346 pinned Xarray to < 2022.11.0 as a quick fix for #343.

As noted in that PR, the bug fix has already been merged into Xarray main so the problem should go away whenever the next release occurs. At that time, we should remove our version pin in our environment file.

[2022-11-28 20:28] #345 closed